@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@font-face {
  font-family: 'Elektra';
  src: url("../fonts/ElektraLight.eot");
  src: local("☺"), url("../fonts/ElektraLight.woff") format("woff"), url("../fonts/ElektraLight.ttf") format("truetype"), url("../fonts/ElektraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Elektra';
  src: url("../fonts/ElektraLightBold.eot");
  src: local("☺"), url("../fonts/ElektraLightBold.woff") format("woff"), url("../fonts/ElektraLightBold.ttf") format("truetype"), url("../fonts/ElektraLightBold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Elektra"; }
  body.lock {
    overflow: hidden; }
  body.scrlock {
    overflow: hidden; }

input, button, textarea {
  font-family: "Elektra"; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

.clr {
  clear: both;
  display: block; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.row:after {
  display: block;
  content: '';
  clear: both; }

.fa {
  font-family: inherit !important; }
  .fa:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

@media (max-height: 800px) {
  body.scrlock {
    overflow: visible; } }

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

@media (max-width: 992px) {
  .container {
    max-width: 750px; } }

@media (max-width: 767px) {
  .container {
    max-width: 620px; } }

@media (max-width: 639px) {
  .container {
    max-width: none;
    padding: 0 20px; } }

/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.14);
  z-index: 50;
  background-color: #fff; }

.header-table .cell {
  vertical-align: middle; }

.header__logo {
  display: inline-block;
  position: relative;
  z-index: 21;
  width: 250px; }
  .header__logo img {
    max-width: 100%; }

.header-menu {
  text-align: right; }

.header-menu-list > li {
  display: inline-block;
  vertical-align: top; }
  .header-menu-list > li.hover .header-menu__link {
    color: #04215b; }
    .header-menu-list > li.hover .header-menu__link:after {
      opacity: 1; }
  .header-menu-list > li.hover .header-menu-sublist {
    display: block; }
  .header-menu-list > li.active .header-menu__link {
    color: #04215b; }
    .header-menu-list > li.active .header-menu__link:after {
      opacity: 1; }
  .header-menu-list > li:last-child .header-menu__link {
    padding-right: 0; }

.header-menu__link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 500;
  position: relative;
  line-height: 70px;
  display: block;
  color: #7787a6;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 25px; }
  .header-menu__link:after {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #04215b; }
  .header-menu__link span {
    display: none;
    margin: 0px 0px 0px 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header-menu__link span.active {
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      position: relative;
      top: -2px; }

.header-menu-sublist {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  right: 0;
  white-space: nowrap;
  display: none; }
  .header-menu-sublist > li {
    display: inline-block; }
    .header-menu-sublist > li.active .header-menu-sublist__link {
      color: #04215b; }

.header-menu-sublist__link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 65px;
  display: block;
  padding: 0 25px;
  color: #7787a6;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative; }
  .header-menu-sublist__link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -5; }
  .header-menu-sublist__link:hover {
    color: #04215b; }

body.touch .header-menu__link span {
  display: inline-block;
  margin: 0px 0px 0px 8px; }

body.he header {
  direction: rtl; }

body.he .header-menu {
  text-align: left; }

body.he .header-menu-list > li:last-child .header-menu__link {
  padding-left: 0;
  padding-right: 25px; }

body.he .header-menu-sublist {
  right: auto;
  left: 0; }

@media (max-width: 992px) {
  .header-menu__link {
    padding: 0 15px;
    font-size: 14px; }
  .header-menu-sublist__link {
    padding: 0 15px;
    font-size: 14px;
    line-height: 50px; }
  .header__logo {
    width: 185px; }
  body.he .header-menu-list > li:last-child .header-menu__link {
    padding-left: 0;
    padding-right: 15px; } }

@media (max-width: 640px) {
  .header-menu__link {
    line-height: 50px;
    padding: 0 15px; } }

@media (max-width: 640px) {
  .header-table .cell {
    height: 50px; }
  .header-menu__icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 21; }
    .header-menu__icon span {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #04215b; }
      .header-menu__icon span:first-child {
        top: 0px; }
      .header-menu__icon span:last-child {
        top: auto;
        bottom: 0px; }
    .header-menu__icon.active span {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
      .header-menu__icon.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .header-menu__icon.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; }
  .header-menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -200%;
    background-color: #050743;
    z-index: 20;
    overflow: auto;
    padding: 50px 0px 20px 0px; }
    .header-menu.active {
      left: 0; }
      .header-menu.active:before {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        z-index: 20;
        left: 0; }
  .header-menu-list {
    border-bottom: 1px solid #9e9e9e; }
    .header-menu-list > li {
      display: block; }
      .header-menu-list > li.hover .header-menu__link {
        color: #8987a4; }
        .header-menu-list > li.hover .header-menu__link:after {
          opacity: 0; }
      .header-menu-list > li.hover .header-menu-sublist {
        display: block; }
      .header-menu-list > li.active .header-menu__link {
        color: #fff; }
        .header-menu-list > li.active .header-menu__link:after {
          opacity: 0; }
      .header-menu-list > li:last-child .header-menu__link {
        padding-right: 15px; }
  body.touch .header-menu__link span {
    margin: 0px 0px 0px 15px;
    background: url("../img/icons/arrow-white.svg") 0 0 no-repeat;
    background-size: 100%; }
  body.he .header-menu {
    text-align: center; }
  body.he .header-menu__icon {
    right: auto;
    left: 10px; }
  body.he .header-menu-list > li:last-child .header-menu__link {
    padding-left: 0;
    padding-right: 0px; }
  .header-menu__link {
    color: #8987a4;
    border: 1px solid #9e9e9e;
    border-bottom: none; }
  .header-menu-sublist {
    position: relative;
    margin: 0px 0px 0px 0px;
    display: block;
    white-space: normal;
    opacity: 1;
    visibility: visible; }
  .header-menu-sublist > li {
    display: block; }
    .header-menu-sublist > li.active .header-menu-sublist__link {
      color: #fff; }
  .header-menu-sublist__link {
    line-height: 40px;
    padding: 0px 20px 0px 20px;
    background-color: #040134; }
  .header__logo {
    width: 156px; } }

/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
/*
.popup-bg{width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 99;}
.popup{position: absolute;width: 300px;left: 50%;margin-left: -150px;padding: 15px;top: 100px;z-index: 100;}
.popup-close{width: 15px;height: 15px;position: absolute;top: 10px;right: 10px;cursor: pointer;}
*/
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
/*
font-family: 'Open Sans Condensed';
@extend .fr;
@include anim(0.3s);
*/
.content {
  padding: 70px 0px 0px 0px; }

@media (max-width: 640px) {
  .content {
    padding: 50px 0px 0px 0px; } }

.blocks {
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%; }

@media (max-width: 767px) {
  .blocks {
    position: relative;
    top: 0; } }

@media (max-height: 800px) {
  .blocks {
    position: relative;
    top: 0; } }

body.he .content {
  direction: rtl; }

.block-1 {
  color: #ffffff;
  text-align: center;
  background: url("../img/bg_01.jpg") center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  min-height: 630px; }

.block-1__title {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 64px;
  margin: 0px 0px 40px 0px; }

.block-1__text {
  font-size: 20px;
  line-height: 36px; }

.block-1-table {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 80px 0px 30px 0px; }
  .block-1-table > .cell {
    height: 100%;
    vertical-align: middle; }

@media (max-height: 800px) {
  .block-1 {
    position: relative;
    height: auto; }
  .block-1-table {
    position: relative;
    height: auto; } }

@media (max-width: 767px) {
  .block-1 {
    min-height: 0px;
    position: relative;
    height: auto; }
  .block-1-table {
    padding: 50px 0px;
    position: relative;
    height: auto; }
    .block-1-table > .cell {
      height: auto; }
  .block-1__title {
    font-size: 36px;
    margin: 0px 0px 30px 0px; }
  .block-1__text {
    font-size: 14px;
    line-height: 20px; } }

@media (max-width: 479px) {
  .block-1-table {
    padding: 30px 0px; } }

.block-2 {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0; }

.block-2-table {
  table-layout: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .block-2-table .cell {
    padding: 0px 0px 0px 0px;
    vertical-align: top; }

.block-2-slider .slick-arrow {
  width: 72px;
  height: 72px;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin: -36px 0px 0px 0px;
  z-index: 10; }
  .block-2-slider .slick-arrow.slick-prev {
    background: url("../img/icons/arrow.svg") center no-repeat;
    left: 10px;
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .block-2-slider .slick-arrow.slick-next {
    background: url("../img/icons/arrow.svg") center no-repeat;
    right: 10px; }
  .block-2-slider .slick-arrow.slick-disabled {
    display: none !important; }

.block-2-slide {
  padding: 100px 0px 0px 0px; }

.block-2-slide-1__title {
  font-weight: 700;
  margin: 0px 0px 20px 0px;
  color: #0669df;
  font-size: 64px;
  line-height: 78px; }

.block-2-slide-1__text {
  color: #757575;
  font-size: 24px;
  line-height: 32px;
  margin: 0px 0px 25px 0px; }

.block-2-slide-1-body {
  display: inline-block; }

.block-2-slide-1__image {
  margin: 0px 0px 20px 0px; }
  .block-2-slide-1__image .i1 {
    display: block; }
  .block-2-slide-1__image .i2 {
    display: none; }
  .block-2-slide-1__image .i3 {
    display: none; }
  .block-2-slide-1__image img {
    max-width: 100%; }

.block-2-slide-1-table {
  display: inline-block;
  max-width: 782px; }

.block-2-slide-1__value {
  width: 222px;
  font-size: 60px;
  color: #0669df;
  line-height: 64px;
  font-weight: 700; }

.block-2-slide-1__label {
  font-size: 14px;
  color: #000; }

.block-2-slide__fish {
  width: 100%;
  left: 0;
  z-index: -1; }
  .block-2-slide__fish img {
    max-width: 100%; }

.block-2-slide-2__image {
  margin: 0px 0px 30px 0px; }

.block-2-slide-2__text {
  color: #757575;
  font-size: 24px;
  max-width: 720px;
  margin: 0px auto 15px auto;
  line-height: 32px; }

.block-2-slide-2__title {
  font-weight: 700;
  margin: 0px 0px 50px 0px;
  color: #ff001f;
  font-size: 64px;
  line-height: 78px; }

.block-2-slide-3__image {
  margin: 0px 0px 20px 0px; }

.block-2-slide-3__text {
  color: #757575;
  font-size: 24px;
  margin: 0px auto 40px auto;
  line-height: 32px; }

.block-2-slide-3__title {
  font-weight: 700;
  margin: 0px 0px 30px 0px;
  color: #44a735;
  font-size: 64px;
  line-height: 78px; }

body.he .block-2-slider {
  direction: ltr; }

body.he .block-2-slide {
  direction: rtl; }

@media (max-height: 800px) {
  .block-2 {
    position: relative;
    height: auto; }
  .block-2-table {
    position: relative;
    height: auto; }
    .block-2-table .cell {
      padding: 0px 0px 0px 0px;
      vertical-align: middle; } }

@media (max-width: 992px) {
  .block-2-slide-1__title,
  .block-2-slide-2__title,
  .block-2-slide-3__title {
    font-size: 50px;
    line-height: 55px; }
  .block-2-slide-1__image .i1 {
    display: block; }
  .block-2-slide-1__image .i2 {
    display: none; }
  .block-2-slide-1__image .i3 {
    display: none; }
  .block-2-slide-1__image img {
    max-width: 728px; }
  .block-2-slide__fish img {
    max-width: 730px; }
  .block-2-table {
    position: relative;
    height: auto; }
    .block-2-table .cell {
      padding: 0px 0px 0px 0px;
      vertical-align: middle; } }

@media (max-width: 767px) {
  .block-2 {
    position: relative;
    height: auto; }
  .block-2-table {
    position: relative;
    height: auto; }
    .block-2-table .cell {
      padding: 0px 0px 0px 0px;
      vertical-align: middle; }
  .block-2-slider .slick-arrow {
    width: 35px;
    height: 35px;
    background-size: 15px !important;
    margin: -17.5px 0px 0px 0px; }
  .block-2-slide {
    padding: 30px 0px 0px 0px; }
  .block-2-slide-1__title,
  .block-2-slide-2__title,
  .block-2-slide-3__title {
    font-size: 30px;
    line-height: 35px; }
  .block-2-slide-1__text,
  .block-2-slide-2__text,
  .block-2-slide-3__text {
    font-size: 16px;
    line-height: 20px; }
  .block-2-slide-1__image .i1 {
    display: none; }
  .block-2-slide-1__image .i2 {
    display: block; }
  .block-2-slide-1__image .i3 {
    display: none; }
  .block-2-slide-1__value {
    width: 85px;
    font-size: 30px;
    line-height: 33px; }
  .block-2-slide__fish img {
    max-width: 490px;
    width: 100%; } }

@media (max-width: 639px) {
  .block-2 {
    position: relative;
    height: auto; }
  .block-2-table {
    position: relative;
    height: auto; }
    .block-2-table .cell {
      padding: 0px 0px 0px 0px;
      vertical-align: middle; }
  .block-2-slide__fish {
    position: relative;
    padding: 0px 0px 0px 0px; }
  .block-2-slide-1-table.table {
    display: none; }
  .block-2-slide-1__image .i1 {
    display: none; }
  .block-2-slide-1__image .i2 {
    display: none; }
  .block-2-slide-1__image .i3 {
    display: block; }
  .block-2-slide-1__image img {
    max-width: 100%; } }

.block-3-company {
  padding: 130px 0px 0px 0px; }

.block-3-top {
  text-align: center;
  padding: 0px 0px 230px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 248, 246, 0)), color-stop(85%, #91cce9), to(#91cce9));
  background-image: -webkit-linear-gradient(top, rgba(221, 248, 246, 0) 0%, #91cce9 85%, #91cce9 100%);
  background-image: -o-linear-gradient(top, rgba(221, 248, 246, 0) 0%, #91cce9 85%, #91cce9 100%);
  background-image: linear-gradient(180deg, rgba(221, 248, 246, 0) 0%, #91cce9 85%, #91cce9 100%); }

.block-3-top__title {
  color: #04215b;
  font-size: 64px;
  margin: 0px 0px 15px 0px; }

.block-3-top__text {
  font-size: 20px;
  line-height: 32px;
  color: #04215b; }

.block-3-body {
  padding: 0px 0px 120px 0px; }

.block-3-body__logo {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  text-align: center;
  margin: -120px auto 0px auto;
  background: #fff url("../img/logo-2.png") center 50px no-repeat; }

.block-3-body__text {
  margin-top: -50px;
  font-size: 20px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.54); }

.block-3-image__value img {
  max-width: 100%; }

@media (max-width: 992px) {
  .block-3-company {
    padding: 80px 0px 0px 0px; }
  .block-3-top {
    text-align: center;
    padding: 0px 0px 200px 0px; }
  .block-3-top__title {
    font-size: 55px; } }

@media (max-width: 767px) {
  .block-3-top {
    text-align: center;
    padding: 0px 0px 150px 0px; }
  .block-3-top__title {
    font-size: 40px; }
  .block-3-top__text {
    font-size: 16px;
    line-height: 28px; }
  .block-3-body {
    padding: 0px 0px 60px 0px; }
  .block-3-body__logo {
    width: 280px;
    height: 280px; }
  .block-3-body__text {
    font-size: 16px;
    line-height: 28px; } }

@media (max-width: 639px) {
  .block-3-company {
    padding: 70px 0px 0px 0px; }
  .block-3-body {
    padding: 0px 0px 30px 0px; } }

.block-4 {
  position: relative;
  text-align: center;
  padding: 75px 0px 0px 0px; }
  .block-4:before {
    content: '';
    left: 50%;
    top: -10px;
    margin: 0px 0px 0px -267px;
    width: 534px;
    height: 10px;
    position: absolute;
    background-color: #ffffff; }

.block-4__title {
  font-size: 64px;
  color: #1f890f;
  margin: 0px 0px 30px 0px; }

.block-4__text {
  font-size: 20px;
  line-height: 32px;
  max-width: 870px;
  margin: 0px auto; }

.block-4-slider {
  margin: 65px 0px 0px 0px; }
  .block-4-slider .slick-arrow {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin: -18px 0px 0px 0px;
    z-index: 10;
    background-size: 15px !important; }
    .block-4-slider .slick-arrow.slick-prev {
      background: rgba(255, 255, 255, 0.4) url("../img/icons/arrow.svg") center no-repeat;
      left: 10px;
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    .block-4-slider .slick-arrow.slick-next {
      background: rgba(255, 255, 255, 0.4) url("../img/icons/arrow.svg") center no-repeat;
      right: 10px; }
  .block-4-slider .slick-slide > div {
    vertical-align: top;
    height: 222px; }

.block-4-slide {
  height: 222px; }

.block-4-slide__image {
  width: 100%;
  height: 100%; }

body.he .block-4-slider {
  direction: ltr; }

@media (max-width: 1200px) {
  .block-4-slide {
    height: 205px; }
  .block-4-slider .slick-slide > div {
    vertical-align: top;
    height: 205px; } }

@media (max-width: 992px) {
  .block-4__title {
    font-size: 55px; } }

@media (max-width: 767px) {
  .block-4 {
    padding: 30px 0px 0px 0px; }
  .block-4__title {
    font-size: 40px; }
  .block-4__text {
    font-size: 16px;
    line-height: 28px;
    padding: 0 10px; }
  .block-4-slider {
    margin: 35px 0px 0px 0px; }
    .block-4-slider .slick-slide > div {
      vertical-align: top;
      height: 305px; }
  .block-4-slide {
    height: 305px; } }

@media (max-width: 640px) {
  .block-4-slider .slick-slide > div {
    vertical-align: top;
    height: 220px; }
  .block-4-slide {
    height: 220px; } }

.block-5 {
  text-align: center;
  padding: 40px 0px 60px 0px;
  position: relative;
  background-color: #f6f6f6; }
  .block-5:before {
    content: '';
    left: 50%;
    top: 0px;
    margin: 0px 0px 0px -267px;
    width: 534px;
    height: 10px;
    position: absolute;
    background-color: #bf23c6; }

.block-5__title {
  font-size: 64px;
  color: #bf23c6;
  margin: 0px 0px 90px 0px; }

.block-5-body {
  margin: 0 -10px; }

.block-5-column {
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  padding: 0 10px;
  margin: 0px 0px 60px 0px; }

.block-5-item.active .block-5-item__num {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.block-5-item.active .block-5-item__text {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.block-5-item_1 .block-5-item__text {
  border-top: 4px solid #ff001f; }
  .block-5-item_1 .block-5-item__text:after {
    content: '';
    background: url("../img/icons/arrow_red.svg") 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    right: -21px;
    top: -16px;
    width: 26px;
    height: 26px; }

.block-5-item_2 .block-5-item__text {
  border-top: 4px solid #ff9f00; }
  .block-5-item_2 .block-5-item__text:after {
    content: '';
    background: url("../img/icons/arrow_yellow.svg") 0 0 no-repeat;
    background-size: 100%;
    position: absolute;
    right: -21px;
    top: -16px;
    width: 26px;
    height: 26px; }

.block-5-item_2 .block-5-item__num {
  -webkit-animation-delay: 2s !important;
  animation-delay: 2s !important; }

.block-5-item_3 .block-5-item__text {
  border-top: 4px solid #7ed321; }

.block-5-item_3 .block-5-item__num {
  -webkit-animation-delay: 3s !important;
  animation-delay: 3s !important; }

.block-5-item__num {
  margin: 0px 0px 45px 0px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }
  .block-5-item__num img {
    height: 185px; }

.block-5-item__text {
  opacity: 0;
  position: relative;
  text-align: left;
  color: #282828;
  padding: 10px;
  font-size: 20px;
  line-height: 32px; }

body.he .block-5-item__text {
  text-align: right; }

body.he .block-5-item_1 .block-5-item__text:after {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  right: auto;
  left: -21px;
  top: -13px; }

body.he .block-5-item_2 .block-5-item__text:after {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  right: auto;
  left: -21px;
  top: -13px; }

@media (max-width: 992px) {
  .block-5__title {
    font-size: 55px; } }

@media (max-width: 767px) {
  .block-5 {
    padding: 30px 0px 0px 0px; }
    .block-5 .container {
      max-width: none;
      padding: 0; }
    .block-5:before {
      width: 280px;
      margin-left: -140px;
      height: 7px; }
  .block-5-item-body {
    max-width: 450px;
    margin: 0px auto; }
  .block-5__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px; }
  .block-5-column {
    width: 100%;
    margin: 0px 0px 20px 0px; }
  .block-5-item {
    display: table;
    width: 100%;
    padding: 0px 0px 30px 0px; }
  .block-5-item_1 {
    border-bottom: 2px solid #ff001f; }
  .block-5-item_2 {
    border-bottom: 2px solid #ff9f00; }
  .block-5-item__num {
    display: table-cell;
    width: 100px; }
    .block-5-item__num img {
      height: 95px; }
  .block-5-item__text {
    display: table-cell;
    border-top: none !important;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle; }
    .block-5-item__text:after {
      display: none; } }

@media (max-width: 639px) {
  .block-5-item-body {
    padding: 0 20px 0 10px; } }

.block-6 {
  text-align: center;
  padding: 90px 0px 60px 0px;
  position: relative; }
  .block-6:before {
    content: '';
    left: 50%;
    top: 0px;
    margin: 0px 0px 0px -267px;
    width: 534px;
    height: 10px;
    position: absolute;
    background-color: #e42c24; }

.block-6__title {
  color: #e42c24;
  font-size: 64px;
  margin: 0px 0px 30px 0px; }

.block-6__text {
  font-size: 20px;
  line-height: 32px;
  margin: 0px 0px 55px 0px; }

.block-6-fish {
  max-width: 944px;
  margin: 0px auto; }

.block-6-fish__image {
  margin: 0px 0px 35px 0px; }
  .block-6-fish__image img {
    max-width: 100%; }

.block-6-fish-items.table.mob {
  display: none; }

.block-6-fish-item {
  color: #292929;
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  margin: 0px 0px 30px 0px;
  position: relative;
  padding: 25px 0px 0px 0px; }
  .block-6-fish-item:before {
    content: '';
    width: 3px;
    position: absolute;
    left: 50%;
    margin: 0px 0px 0px -1.5px; }
  .block-6-fish-item:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -8px;
    width: 16px;
    height: 16px;
    margin: 0px 0px 0px -9px; }

.block-6-fish-item__title {
  font-size: 32px;
  margin: 0px 0px 15px 0px; }

.block-6-fish-item__text {
  font-size: 16px;
  line-height: 24px;
  padding: 0 30px; }

.block-6-fish-item_1:before {
  height: 70px;
  background-color: #9c1da2;
  top: -70px; }

.block-6-fish-item_1:after {
  background-color: #9c1da2; }

.block-6-fish-item_2:before {
  height: 60px;
  background-color: #f18e1d;
  top: -60px; }

.block-6-fish-item_2:after {
  background-color: #f18e1d; }

.block-6-fish-item_3:before {
  height: 70px;
  background-color: #0669df;
  top: -70px; }

.block-6-fish-item_3:after {
  background-color: #0669df;
  margin: 0px 0px 0px -8px; }

.block-6-fish-item_4:before {
  height: 250px;
  background-color: #e4246e;
  top: -250px; }

.block-6-fish-item_4:after {
  background-color: #e4246e;
  margin: 0px 0px 0px -8px; }

.block-6-fish-item_5:before {
  height: 320px;
  background-color: #44a735;
  top: -320px; }

.block-6-fish-item_5:after {
  background-color: #44a735; }

body.he .block-6-fish__image {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

@media (max-width: 992px) {
  .block-6__title {
    font-size: 55px; } }

@media (max-width: 767px) {
  .block-6 {
    padding: 30px 0px 0px 0px; }
    .block-6 .container {
      max-width: none;
      padding: 0; }
    .block-6:before {
      width: 280px;
      margin-left: -140px;
      height: 7px; }
  .block-6__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px; }
  .block-6__text {
    font-size: 16px;
    line-height: 28px;
    padding: 0 20px; }
  .block-6-fish__image {
    max-width: 413px;
    margin: 0px auto 50px auto; }
  .block-6-fish-item {
    width: 100%;
    padding: 0px 0px 30px 0px;
    border-bottom: 1px solid #eee; }
    .block-6-fish-item:before {
      display: none; }
    .block-6-fish-item:after {
      display: none; }
    .block-6-fish-item:last-child {
      margin: 0px 0px 0px 0px;
      border-bottom: none; }
  .block-6-fish-items.table {
    display: none; }
    .block-6-fish-items.table.mob {
      display: table; }
  .block-6-fish-item__title {
    font-weight: 700; }
  .block-6-fish-item_1 .block-6-fish-item__title {
    color: #9c1da2; }
  .block-6-fish-item_2 .block-6-fish-item__title {
    color: #f18e1d; }
  .block-6-fish-item_3 .block-6-fish-item__title {
    color: #0669df; }
  .block-6-fish-item_4 .block-6-fish-item__title {
    color: #e4246e; }
  .block-6-fish-item_5 .block-6-fish-item__title {
    color: #44a735; }
  .block-6-fish-item__text {
    padding: 0px 20px 0px 20px; } }

@media (max-width: 639px) {
  .block-6 {
    padding: 40px 0px 30px 0px; }
  .block-6__text {
    color: rgba(0, 0, 0, 0.54);
    line-height: 20px;
    font-size: 14px; }
  .block-6-fish__image {
    padding: 0 20px; }
  .block-6-fish-item {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 15px 0px; }
  .block-6-fish-item__title {
    font-size: 24px;
    line-height: 32px; }
  .block-6-fish-item__text {
    font-size: 14px;
    line-height: 20px; } }

.block-7 {
  background-color: #f6f6f6;
  position: relative; }
  .block-7:before {
    content: '';
    left: 50%;
    top: 0px;
    margin: 0px 0px 0px -267px;
    width: 534px;
    height: 10px;
    position: absolute;
    background-color: #a9724b; }

.block-7__pretitle {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #4a4a4a;
  font-size: 32px;
  margin: 0px 0px 20px 0px; }

.block-7__title {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #a9724b;
  font-size: 64px;
  margin: 0px 0px 50px 0px;
  padding: 0px 20px; }

.block-7-body {
  padding: 0px 0px 0px 100px;
  position: relative;
  z-index: 2; }

.block-7__text {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 36px; }

.block-7-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 492px; }
  .block-7-image img {
    max-width: 100%; }

.block-7-image-table {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .block-7-image-table .cell {
    vertical-align: middle;
    height: 100%; }

.block-7-image__mob {
  display: none; }

.block-7-table > .cell {
  vertical-align: middle;
  padding: 55px 0px 100px 0px; }

@media (max-height: 630px) {
  .block-7-table > .cell {
    height: auto !important; } }

@media (max-width: 640px) {
  .block-7-table > .cell {
    height: auto !important; } }

@media (max-width: 1700px) {
  .block-7-image {
    left: -50px; }
  .block-7-body {
    padding: 0px 0px 0px 200px; } }

@media (max-width: 1400px) {
  .block-7-image {
    left: -150px; }
  .block-7-body {
    padding: 0px 0px 0px 240px; }
  .block-7__text {
    line-height: 32px; } }

@media (max-width: 1130px) {
  .block-7-image {
    left: -200px; } }

@media (max-width: 992px) {
  .block-7__title {
    font-size: 55px; }
  .block-7-image {
    left: -250px; }
  .block-7__text {
    font-size: 18px;
    line-height: 32px; } }

@media (max-width: 767px) {
  .block-7 {
    background-color: #f6f6f6; }
    .block-7:before {
      width: 280px;
      margin: 0px 0px 0px -140px;
      height: 7px; }
  .block-7__title {
    font-size: 40px; }
  .block-7__text {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px; }
  .block-7-image {
    width: 300px;
    left: 0; }
  .block-7-image-table > .cell {
    vertical-align: top;
    padding: 150px 0px 0px 0px; }
  .block-7-table > .cell {
    vertical-align: top;
    padding: 55px 0px 30px 0px; } }

@media (max-width: 700px) {
  .block-7-image {
    width: 300px;
    left: -50px; } }

@media (max-width: 639px) {
  .block-7__title {
    margin: 0px 0px 20px 0px; }
  .block-7-image {
    display: none; }
  .block-7-image__mob {
    display: block;
    text-align: center;
    margin: 0px 0px 20px 0px; }
    .block-7-image__mob img {
      max-width: 100%; }
  .block-7-body {
    padding: 0px 0px 0px 0px; }
  .block-7-table > .cell {
    vertical-align: top;
    padding: 30px 0px 30px 0px;
    height: auto !important; } }

.block-8 {
  text-align: center;
  position: relative;
  padding: 80px 0px 80px 0px; }
  .block-8:before {
    content: '';
    left: 50%;
    top: 0px;
    margin: 0px 0px 0px -267px;
    width: 534px;
    height: 10px;
    position: absolute;
    background-color: #5a0f93; }

.block-8__title {
  color: #5a0f93;
  font-size: 64px;
  margin: 0px 0px 20px 0px; }

.block-8__text {
  color: #2e2e2e;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin: 0px 0px 45px 0px; }

.block-8-body {
  margin: 0 -15px; }

.block-8-item-column {
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  padding: 0 15px;
  margin: 0px 0px 60px 0px; }

.block-8-item {
  color: #2e2e2e; }

.block-8-item__avatar {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  width: 180px;
  height: 180px;
  margin: 0px 0px 20px 0px; }
  .block-8-item__avatar img {
    max-width: 100%; }

.block-8-item__name {
  font-weight: 700;
  font-size: 24px; }

.block-8-item__position {
  font-size: 16px;
  margin: 10px 0px;
  padding: 0 20px; }

.block-8-item__text {
  font-size: 16px;
  line-height: 24px; }

.block-8__image img {
  max-width: 100%; }

@media (max-width: 992px) {
  .block-8__title {
    font-size: 55px; }
  .block-8-item-column {
    width: 50%; } }

@media (max-width: 767px) {
  .block-8 {
    padding: 55px 0px 30px 0px; }
    .block-8 .container {
      max-width: none; }
    .block-8:before {
      width: 280px;
      margin: 0px 0px 0px -140px;
      height: 7px; }
  .block-8__title {
    font-size: 40px; }
  .block-8__text {
    font-size: 16px;
    line-height: 28px; }
  .block-8-item {
    border-bottom: 1px solid #d7d7d7;
    padding: 0px 0px 35px 0px; }
  .block-8-item-column {
    width: 100%; }
    .block-8-item-column:last-child {
      margin: 0px 0px 0px 0px; }
      .block-8-item-column:last-child .block-8-item {
        border-bottom: none; }
  .block-8-item__text {
    display: none;
    padding: 0 20px; } }

@media (max-width: 639px) {
  .block-8 .container {
    max-width: none;
    padding: 0; }
  .block-8__text {
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px; } }

.block-9 {
  color: #2e2e2e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 248, 246, 0)), color-stop(85%, rgba(145, 204, 233, 0.7)), to(rgba(145, 204, 233, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(221, 248, 246, 0) 0%, rgba(145, 204, 233, 0.7) 85%, rgba(145, 204, 233, 0.7) 100%);
  background-image: -o-linear-gradient(top, rgba(221, 248, 246, 0) 0%, rgba(145, 204, 233, 0.7) 85%, rgba(145, 204, 233, 0.7) 100%);
  background-image: linear-gradient(to bottom, rgba(221, 248, 246, 0) 0%, rgba(145, 204, 233, 0.7) 85%, rgba(145, 204, 233, 0.7) 100%);
  padding: 0px 0px 95px 0px; }

.block-9__title {
  text-align: center;
  font-size: 64px;
  margin: 0px 0px 75px 0px;
  color: #04215b; }

.block-9-form {
  margin: 0px 0px 80px 0px; }

.block-9-form__label {
  margin: 0px 0px 20px 0px;
  font-size: 18px; }

.block-9-form-row {
  margin: 0 -12px; }

.block-9-form-column {
  float: left;
  width: 50%;
  padding: 0px 12px; }

.block-9-form-button {
  text-align: right; }

.block-9-form__bnt {
  font-size: 24px;
  text-transform: uppercase;
  background-color: transparent;
  font-family: 'Roboto'; }

.block-9__phone {
  font-size: 64px;
  font-weight: 700;
  color: #000; }

.block-9__email {
  display: inline-block;
  color: #2e2e2e;
  text-decoration: underline;
  font-weight: 700;
  font-size: 24px;
  margin: 30px 0px; }
  .block-9__email:hover {
    text-decoration: none; }

.block-9__footertext {
  font-size: 24px; }

.block-9-footer {
  text-align: center; }

body.he .block-9-form-column:first-child {
  float: right; }

@media (max-width: 992px) {
  .block-9__title {
    font-size: 55px; }
  .block-9-form {
    margin: 0px auto 80px auto;
    max-width: 550px; }
  .block-9-form-column {
    width: 100%; }
    .block-9-form-column:first-child {
      margin: 0px 0px 30px 0px; } }

@media (max-width: 767px) {
  .block-9 {
    padding: 0px 0px 30px 0px; }
  .block-9-form {
    margin: 0px 0px 40px 0px; }
  .block-9__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px; }
  .block-9__email {
    margin: 20px 0px;
    font-size: 18px; }
  .block-9__phone {
    font-size: 36px; }
  .block-9__footertext {
    font-size: 16px;
    line-height: 24px; }
  .block-9-form-button {
    text-align: center; } }

@media (max-width: 639px) {
  .block-9__phone {
    font-size: 33px; } }

.spoller {
  font-size: 16px;
  display: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center; }
  .spoller.active {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }

@media (max-width: 767px) {
  .hiddentext {
    display: none; }
  .spoller {
    display: block; }
  .hiddentext2 {
    display: block; }
  .spoller2 {
    display: none; } }

@media (max-width: 639px) {
  .hiddentext2 {
    display: none; }
  .spoller2 {
    display: block; } }

.btn {
  display: inline-block; }

.select {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top; }
  .select .select-title {
    z-index: 1;
    width: 100%;
    position: relative;
    height: 29px;
    border: 1px solid #f3f3f3;
    background-color: #fff; }
  .select .select-title__arrow {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 5px;
    width: 12px;
    height: 8px;
    background: url("../img/icons/select-arrow.png") 0 0 no-repeat; }
  .select .select-title__value {
    font-size: 14px;
    color: #0097ac;
    font-weight: 300;
    line-height: 27px;
    display: block;
    overflow: hidden;
    padding: 0 25px 0 10px;
    white-space: nowrap;
    text-transform: none;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .select .select-options {
    position: absolute;
    z-index: 10;
    top: 28px;
    display: none;
    overflow: hidden;
    min-width: 100%;
    border: 1px solid #f3f3f3;
    border-top: none; }
  .select .select-options-inside {
    background-color: #fff;
    padding-bottom: 5px; }
  .select .select-options__value {
    color: #9b9b9b;
    font-weight: 300;
    font-size: 13px;
    padding: 5px 10px; }
    .select .select-options__value:hover {
      color: #000; }

.input {
  width: 100%;
  display: block;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  height: 40px;
  color: #272829;
  font-family: 'Roboto';
  font-size: 16px;
  border-bottom: 1px solid #272829;
  margin: 0px 0px 10px 0px; }
  .input.err {
    border-bottom: 1px solid red; }

textarea.input {
  resize: none;
  border-radius: 2px;
  height: 190px;
  border: 1px solid #272829;
  padding: 10px; }

.check {
  position: relative;
  padding-left: 25px;
  color: #5f5f5f;
  line-height: 18px;
  cursor: pointer; }
  .check input {
    display: none; }
  .check:before {
    content: '';
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #a3a3a3;
    position: absolute; }
  .check.active:before {
    background: url("../img/icons/check.png") center no-repeat; }

.option {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 16px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300; }
  .option:last-child {
    margin-bottom: 0px; }
  .option input {
    display: none; }
  .option:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #7f7f7f;
    border-radius: 50%; }
  .option.active:before {
    background: url("../img/icons/option.png") center no-repeat; }

.rating-block {
  display: table;
  font-size: 0; }

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .rating.edit .star {
    cursor: pointer; }
  .rating .star {
    width: 17px;
    height: 13px;
    display: inline-block;
    position: relative;
    z-index: 3; }

.rating__line {
  position: absolute;
  width: 80px;
  height: 13px;
  top: 0;
  left: 0;
  background: url("../img/bg_rating.png") 0 0 no-repeat;
  z-index: 1; }

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 13px;
  top: 0;
  left: 0;
  background: url("../img/bg_rating_active.png") 0 0 no-repeat;
  z-index: 2; }

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle; }

.quantity {
  position: relative;
  width: 73px;
  height: 47px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff; }

.quantity__input {
  height: 45px;
  width: 50px;
  text-align: center;
  color: #101010;
  font-weight: 300; }

.quantity__btn {
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer; }
  .quantity__btn:before {
    font-size: 25px;
    display: inline-block;
    line-height: 10px;
    color: #a9a9a9; }
  .quantity__btn:hover:before {
    color: #da0005; }
  .quantity__btn.dwn {
    top: 25px; }

.category-params-item-price-table {
  margin-bottom: 25px; }
  .category-params-item-price-table .cell:first-child {
    padding-right: 15px;
    position: relative; }
    .category-params-item-price-table .cell:first-child:after {
      content: '-';
      position: absolute;
      right: -4px;
      top: 8px;
      font-size: 20px; }
  .category-params-item-price-table .cell:last-child {
    padding-left: 15px; }
  .category-params-item-price-table .cell input {
    height: 37px;
    border: 2px solid #393939;
    background-color: #ffffff;
    text-align: center;
    font-size: 12px;
    color: #393939;
    font-weight: 500;
    width: 100%; }

.category-params-item-price-range {
  margin: 0 12px 40px 12px;
  background-color: #c9cecf;
  height: 2px;
  position: relative; }
  .category-params-item-price-range .ui-slider-range {
    background-color: #000;
    height: 2px;
    position: relative; }
  .category-params-item-price-range .ui-slider-handle {
    width: 23px;
    height: 28px;
    border: 3px solid #fbfbfb;
    background-color: #ea5922;
    display: block;
    position: absolute;
    top: -14px;
    margin-left: -12px;
    cursor: pointer; }
    .category-params-item-price-range .ui-slider-handle span {
      position: absolute;
      bottom: -18px;
      left: 50%;
      width: 50px;
      text-align: center;
      font-size: 10px;
      margin-left: -25px;
      font-weight: 500;
      color: #94a6aa; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.table {
  display: table;
  font-size: 0;
  width: 100%; }

.trow {
  display: table-row; }

.cell {
  display: table-cell; }
  .cell.full {
    width: 100%; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.slick-slider {
  position: relative; }
  .slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .slick-slider .slick-track {
    position: relative;
    width: 100%; }
  .slick-slider .slick-slide {
    overflow: hidden;
    float: left;
    position: relative; }

.tab__item {
  display: none; }
  .tab__item.active {
    display: block; }
