//<МИКСИНЫ>===============================================================================================
@mixin anim($time){-webkit-transition: all $time ease;-moz-transition: all $time ease;-ms-transition: all $time ease;-o-transition: all $time ease;transition: all $time ease;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
//</МИКСИНЫ>===============================================================================================


//<ОСНОВНОЙ БЛОК>====================================================================================================



//</ОСНОВНОЙ БЛОК>====================================================================================================



//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.noselect{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
//====================================================================================================
.ellipsis{display: block;overflow: hidden;width: 100%;white-space: nowrap;text-overflow: ellipsis;}
//====================================================================================================
.table{display: table;font-size: 0;width: 100%;
	//table-layout: fixed;
}
.trow{display: table-row;}
.cell{display: table-cell;
	&.full{width: 100%;}
}
//====================================================================================================
.ibg{background-position: center;background-size: cover;background-repeat: no-repeat;
	img{display: none;}
}
//====================================================================================================
.slick-slider{position: relative;
	.slick-track,.slick-list {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
	.slick-list{position: relative;overflow: hidden;width: 100%;}
	.slick-track{position: relative;width: 100%;}
	.slick-slide{overflow: hidden;float: left;position: relative;}
}
//=====================================================================================================================
.tab__item{display: none;
	&.active{display: block;}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================