<header>
	<div class="container">
		<div class="header-table table">
			<div class="cell">
				<a href="" class="header__logo"><img src="img/logo.png" alt="" /></a>
			</div>
			<div class="cell full">
				<div class="header-menu__icon">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="header-menu">
					<ul class="header-menu-list">
						<li class="active"><a href="" class="header-menu__link header-menu__link_1">Home</a></li>
						<li>
							<a href="" class="header-menu__link header-menu__link_2">Company</a>
							<ul class="header-menu-sublist">
								<li><a href="" class="header-menu-sublist__link header-menu__link_2_1">Our Company</a></li>
								<li><a href="" class="header-menu-sublist__link header-menu__link_2_2">Our Technology</a></li>
								<li><a href="" class="header-menu-sublist__link header-menu__link_2_3">Our Operations</a></li>
								<li><a href="" class="header-menu-sublist__link header-menu__link_2_4">Our UVP</a></li>
							</ul>
						</li>
						<li><a href="" class="header-menu__link header-menu__link_3">Species</a></li>
						<li><a href="" class="header-menu__link header-menu__link_4">Team</a></li>
						<li><a href="" class="header-menu__link header-menu__link_5">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>